<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="PGSDBEntities" connectionString="metadata=res://*/SQLSERVER.PGSModel.csdl|res://*/SQLSERVER.PGSModel.ssdl|res://*/SQLSERVER.PGSModel.msl;provider=System.Data.SqlClient;
         provider connection string=&quot;data source=BTDQ-MAC;initial catalog=PGSDB;User ID=sa;Password=abc123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
