<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="PGSDBEntities" connectionString="metadata=res://*/PGSModel.csdl|res://*/PGSModel.ssdl|res://*/PGSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BTDQ-MAC;initial catalog=PGSDB;persist security info=True;user id=sa;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>